<form class="space-y-6" [formGroup]="bookForm" (submit)="onSubmit()">
  <!-- TITLE -->
  <div class="relative">
    <input
      type="text"
      formControlName="title"
      class="peer w-full rounded-lg border border-slate-300 bg-transparent px-3 pt-5 pb-2 text-sm focus:border-blue-600"
    />
    <label
      class="pointer-events-none absolute top-2 left-3 text-sm text-slate-500 transition-all duration-200 peer-focus:top-1 peer-focus:text-xs peer-focus:text-blue-600"
    >
      Título
    </label>

    @if (bookForm.controls.title.invalid && bookForm.controls.title.touched) {
      <p class="mt-1 text-xs text-red-600">Título inválido</p>
    }
  </div>

  <!-- AUTHOR -->
  <div class="relative">
    <input
      type="text"
      formControlName="author"
      class="peer w-full rounded-lg border border-slate-300 bg-transparent px-3 pt-5 pb-2 text-sm focus:border-blue-600"
    />
    <label
      class="pointer-events-none absolute top-2 left-3 text-sm text-slate-500 transition-all duration-200 peer-focus:top-1 peer-focus:text-xs peer-focus:text-blue-600"
    >
      Autor
    </label>

    @if (bookForm.controls.author.invalid && bookForm.controls.author.touched) {
      <p class="mt-1 text-xs text-red-600">Autor inválido</p>
    }
  </div>

  <!-- ISBN -->
  <div class="relative">
    <input
      type="text"
      formControlName="isbn"
      class="peer w-full rounded-lg border border-slate-300 bg-transparent px-3 pt-5 pb-2 text-sm focus:border-blue-600"
    />
    <label
      class="pointer-events-none absolute top-2 left-3 text-sm text-slate-500 transition-all duration-200 peer-focus:top-1 peer-focus:text-xs peer-focus:text-blue-600"
    >
      ISBN
    </label>

    @if (bookForm.controls.isbn.invalid && bookForm.controls.isbn.touched) {
      <p class="mt-1 text-xs text-red-600">ISBN inválido</p>
    }
  </div>

  <!-- SYNOPSIS -->
  <div class="relative">
    <textarea
      formControlName="synopsis"
      rows="4"
      placeholder=" "
      class="peer field-sizing-content w-full resize-none rounded-lg border border-slate-300 bg-transparent px-3 pt-5 pb-2 text-sm focus:border-blue-600"
      style="line-height: 1.5"
    ></textarea>
    <label
      class="pointer-events-none absolute top-1.5 left-3 text-xs text-slate-500 transition-all duration-200 peer-placeholder-shown:top-3 peer-placeholder-shown:text-sm peer-focus:top-1.5 peer-focus:text-xs peer-focus:text-blue-600"
    >
      Sinopsis
    </label>

    @if (bookForm.controls.synopsis.invalid && bookForm.controls.synopsis.touched) {
      <p class="mt-1 text-xs text-red-600">Sinopsis inválida</p>
    }
  </div>

  <!-- COVER URL -->
  <div class="relative">
    <input
      type="text"
      formControlName="coverUrl"
      class="peer w-full rounded-lg border border-slate-300 bg-transparent px-3 pt-5 pb-2 text-sm focus:border-blue-600"
    />
    <label
      class="pointer-events-none absolute top-2 left-3 text-sm text-slate-500 transition-all duration-200 peer-focus:top-1 peer-focus:text-xs peer-focus:text-blue-600"
    >
      Portada (URL)
    </label>

    <div class="mt-1 flex justify-start text-sm">
      <a
        href="https://www.casadellibro.com/"
        target="_blank"
        class="cursor-pointer text-blue-600 hover:underline"
      >
        Portadas recomendadas de La Casa del Libro
      </a>
    </div>

    @if (bookForm.controls.coverUrl.invalid && bookForm.controls.coverUrl.touched) {
      <p class="mt-1 text-xs text-red-600">URL inválida</p>
    }
  </div>

  <!-- BOTONES -->
  <div class="flex justify-end gap-2 pt-4">
    <button
      type="button"
      class="rounded-lg border border-slate-300 px-4 py-2 text-sm text-slate-500 transition-colors duration-300 hover:border-slate-400 hover:text-gray-600"
      routerLink="/dash/books"
    >
      Volver
    </button>

    <button
      type="reset"
      class="rounded-lg border border-blue-600 px-4 py-2 text-sm text-blue-600 transition-colors duration-300 hover:bg-blue-100"
      (click)="onReset()"
    >
      Reiniciar
    </button>

    <button
      type="submit"
      class="rounded-lg bg-amber-500 px-4 py-2 text-sm text-black hover:bg-amber-500/90 disabled:cursor-not-allowed disabled:bg-gray-300 disabled:text-gray-500"
      [disabled]="bookForm.invalid || loading()"
    >
      {{ loading() ? 'Guardando...' : 'Guardar' }}
    </button>
  </div>
</form>
