<section aria-labelledby="form-title">
  <h2 class="text-center font-semibold">Dejar mi reseña</h2>

  <form [formGroup]="reviewForm" (submit)="onSubmit()" class="flex flex-col p-4">
    <div>
      <label class="mb-2 w-full" for="name">Nombre</label>
      <input
        class="mb-4 w-full rounded-lg border border-gray-300 p-1"
        id="name"
        formControlName="name"
        type="text"
        required
      />
    </div>

    <div>
      <label class="mb-2 w-full" for="email">Email</label>
      <input
        class="mb-4 w-full rounded-lg border border-gray-300 p-1"
        id="email"
        formControlName="email"
        type="email"
        required
      />
    </div>

    <div>
      <label class="mb-2 w-full" for="review">Reseña</label>
      <textarea
        class="mb-4 w-full resize-none rounded-lg border border-gray-300 p-1"
        id="review"
        formControlName="review"
        rows="3"
        required
      ></textarea>
    </div>

    <div>
      <label class="mb-2 w-full" for="rating">Calificación</label>
      <div class="mb-4 flex">
        @for (star of stars; track star) {
          <button
            type="button"
            class="cursor-pointer"
            (mouseenter)="onHover(star)"
            (mouseleave)="onHover(0)"
            (click)="onRate(star)"
            [attr.aria-label]="'Calificar con ' + star + ' estrellas'"
          >
            @if (star <= (hovered || rating)) {
              <filled-star-icon [size]="24" />
            } @else {
              <star-icon [size]="24" />
            }
          </button>
        }
      </div>
    </div>

    <button
      class="rounded-lg bg-amber-500 py-1 transition-colors duration-200 hover:bg-amber-500/90"
      type="submit"
      [disabled]="reviewForm.invalid"
    >
      Enviar
    </button>
  </form>
</section>
