<article class="rounded-lg bg-slate-100 p-4 dark:bg-slate-700">
  <div class="space-y-2">
    <!-- Info usuario -->
    <div class="text-left">
      <p class="text-sm font-semibold text-slate-900 uppercase dark:text-white">{{ name() }}</p>
      <p class="text-xs text-gray-500 dark:text-slate-400">{{ date() | date: 'dd/MM/yyyy' }}</p>
      <stars-review-component [filledStars]="filledStars" [stars]="stars" />
    </div>

    <!-- Texto reseña -->
    <div class="flex items-center text-sm leading-relaxed text-gray-800 dark:text-slate-300">
      {{ review() }}
    </div>
  </div>
</article>
