<h2>Destacados</h2>
@if (!featuredBooks() || featuredBooks().length === 0) {
  Cargando libros destacados...
} @else {
  <book-list-component [books]="featuredBooks()" />
}

<h2>Nuevos</h2>
@if (!featuredBooks() || featuredBooks().length === 0) {
  Cargando libros nuevos...
} @else {
  <book-list-component [books]="newBooks()" />
}

<h2>Populares</h2>
@if (!featuredBooks() || featuredBooks().length === 0) {
  Cargando libros populares...
} @else {
  <book-list-component [books]="popularBooks()" />
}
