<article class="rounded-2xl bg-white p-6 shadow dark:bg-gray-800">
  @if (metric() === null) {
    <p class="text-sm text-slate-500 dark:text-slate-200">{{ title() }}</p>

    <p class="mt-2 animate-pulse text-sm text-slate-500 dark:text-slate-400">Cargando datos</p>
  } @else {
    <div class="flex items-center justify-between">
      <p class="text-sm text-slate-500 dark:text-slate-200">{{ title() }}</p>

      @if (link()) {
        <a
          [routerLink]="link()"
          [queryParams]="queryParams()"
          class="cursor-pointer text-xs text-blue-600 hover:underline"
        >
          Mostrar &#8594;
        </a>
      }
    </div>

    <p class="mt-2 text-3xl font-bold">{{ metric() }}</p>
  }
</article>
