<header class="flex items-center justify-between gap-8 bg-white px-8 py-4 shadow-md">
  <h1 class="text-xl font-semibold">Panel de administración</h1>

  <search-book-component class="flex-1" />

  <nav>
    <ul class="flex gap-6 text-sm font-medium">
      <li>
        <a routerLink="/" class="cursor-pointer hover:underline">Biblioteca</a>
      </li>
      @for (item of navLinks; track item.label) {
        <li>
          <a
            [routerLink]="item.link"
            class="cursor-pointer hover:underline"
            routerLinkActive="underline"
            [routerLinkActiveOptions]="{ exact: item.link === '/dash' }"
            >{{ item.label }}</a
          >
        </li>
      }

      <li>
        <button (click)="logout()" class="cursor-pointer text-red-600 hover:underline">
          Salir
        </button>
      </li>
    </ul>
  </nav>
</header>
