<main class="mx-auto mb-12 max-w-6xl p-4">
  @if (!book()) {
    <p>Cargando libro...</p>
  } @else if (book(); as currentBook) {
    <section class="mt-6 grid grid-cols-1 gap-1 lg:grid-cols-3 lg:items-start">
      <!-- Portada -->
      <aside class="flex justify-center lg:col-span-1">
        <img [src]="currentBook.coverUrl" alt="Portada libro" class="h-100 w-auto object-contain" />
      </aside>

      <!-- Datos principales -->
      <section class="flex flex-col items-center gap-1 lg:col-span-1 lg:items-start lg:text-left">
        <h1 class="text-xl font-bold uppercase">{{ currentBook.title }}</h1>

        <p class="text-sm font-semibold text-gray-400 uppercase">{{ currentBook.author }}</p>

        <p class="text-xs text-gray-400 uppercase">{{ currentBook.isbn }}</p>

        <div class="flex items-center gap-2">
          <!-- Estrellas -->
          <stars-review-component [filledStars]="filledStars()" [stars]="stars()" />

          <p class="text-xs leading-none text-gray-500">
            ({{ reviews()?.total }} {{ reviews()?.total === 1 ? 'reseña' : 'reseñas' }})
          </p>
        </div>

        <p class="mt-4 text-sm leading-relaxed text-gray-800">
          {{ currentBook.synopsis }}
        </p>
      </section>

      <!-- Formulario reseña -->
      <aside class="mt-8 lg:sticky lg:top-24 lg:col-span-1 lg:mt-0">
        <form class="rounded-lg border bg-white p-4 shadow-sm">
          <p class="font-semibold">Deja tu reseña</p>
          <!-- campos -->
        </form>
      </aside>
    </section>

    <!-- Opiniones del libro -->
    <section class="mx-auto mt-12 max-w-4xl px-4">
      <!-- Título -->
      <h2 class="text-center text-xl font-bold uppercase">
        Opiniones sobre {{ currentBook.title }}
      </h2>

      <!-- Estadísticas globales -->
      <div class="mt-6">
        <div class="flex flex-col items-center text-center">
          <!-- Nota media con estrellas -->
          <div class="flex items-center gap-2">
            <stars-review-component [filledStars]="filledStars()" [stars]="stars()" />

            <p class="text-sm leading-none text-gray-600">
              ({{ reviews()!.total }} {{ reviews()!.total === 1 ? 'reseña' : 'reseñas' }})
            </p>
          </div>

          <p class="mt-1 text-3xl text-gray-700">
            <span class="text-6xl font-bold">{{
              currentBook.averageRating?.toFixed() || '0'
            }}</span>
            / 5
          </p>
        </div>
      </div>

      <!-- Lista de reseñas -->
      <div class="mt-10 space-y-6">
        @if (reviews()) {
          <pagination-component
            [page]="reviews()!.page"
            [totalPages]="reviews()!.totalPages"
            (pageChange)="changePage($event)"
          />

          @for (review of reviews()!.data; track $index) {
            <!-- Reseña individual -->
            <review-component
              [name]="review.name"
              [date]="review.createdAt"
              [rating]="review.rating"
              [review]="review.review"
            />
          }
        } @else {
          <p>Cargando reseñas...</p>
        }
      </div>
    </section>
  }
</main>
